<footer>
    <div class="container-fluid">
     <div class="row allign-items-center">
       <div class="col-lg-6">
         <span class="footer-text-kiri text-muted"> © 2018 Your Games, Inc. All Rights Reserved</span>
       </div>
       <div class="col-lg-6 text-end bg-transparent">
         <span class="text1"> Privacy Policy | Terms of Services | Code of Conduct </span>
       </div>
     </div>
   </footer>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>