<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <!-- my style -->
  <link rel="stylesheet" href="/css/style--game.css" />
  <title>Game</title>
  <link rel="shortcut icon" href="/assets--game/logo 3.png " type="image/x-icon" />
</head>

<body>
  <div class="container-fluid ">
    <!-- navbar start -->
    <nav class="navbar navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <p class="navbar__text">&lt;</p>
        </a>
        <img class="navbar__image--logo" src="/assets--game/logo 3.png" alt="logo" />
        <p class="navbar__text--heading">ROCK PAPER SCISSORS</p>
      </div>
    </nav>
    <!-- navbar end -->
    <!-- content start -->
    <div class="container">
      <div class="padding">
        <table class="text-center">
          <tr>
            <td class="user-icon">
              <p>
                Player 1
              </p>
            </td>
            <td rowspan="4">
              <div class="text-result">
                <h3 class="text-vs">
                  VS
                </h3>
              </div>
            </td>
            <td class="comicon">
              <p>
                Com
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="box-image user-input " id="batu">
                <img src="/assets--game/batu.png" alt="batu" />
              </div>
            </td>
            <td>
              <div class="box-image com-batu com">
                <img src="/assets--game/batu.png" alt="batu" />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="box-image user-input" id="kertas">
                <img src="/assets--game/kertas.png" alt="kertas" />
              </div>
            </td>
            <td>
              <div class="box-image com-kertas com ">
                <img src="/assets--game/kertas.png" alt="kertas" />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="box-image user-input" id="gunting">
                <img src="/assets--game/gunting.png" alt="gunting" />
              </div>
            </td>
            <td>
              <div class="box-image com-gunting com ">
                <img src="/assets--game/gunting.png" alt="gunting" />
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="icon-refresh">
                <img src="/assets--game/refresh.png" alt="refresh">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="/script/game.js"></script>
</body>

</html>