<%- include('header') %>
<div class="containers-fluid bg-image-mainpage">
      <div class="container-fluid bg-cover-mainpage text-white">
        
          <form action="/api/v1/login" method="POST">
            <div class="col-6" >
            <div class="mb-3">
              <label  class="form-label">Username</label>
              <input type="text" name="username"   class="form-control" >
            </div>
          </div>
          <div class="col-6 ">
            <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password" name="password"  class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>
        
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

<%- include('footer') %>